<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit&display=swap">
    
</head>

<body>
    <div class="Top">
        <a style="font-size: 14px;" href="Login.html">เข้าสู่ระบบ</a>
    </div>
    <div class="header">
        <h2>Hello</h2>
    </div>
    <div class="menubar">
        <a href="PJfirst.html">หน้าหลัก</a>
        <a href="page2.html">วิชาเลือก</a>
        <a href="#">สถิติการลงทะเบียน</a>
    </div>
    

    <div class="row">
        <div class="course">
            <h3 style="text-align: center;">Column1</h3>
            <p style="text-align: center; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
        </div>
        <div class="calendar">
            <h3 style="text-align: center;">Column2</h3>
            <p style="text-align: center; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
        </div>
    </div>
    
    <div class="footer">
        <p>Bottom</p>
    </div>

</body>

</html>